<footer>
    <div class="footer-container">
      <div class="footer-logo">
          <a href="/" class="logo">
              <div class="icon"></div>
              <div class="text">
                  <span>Qmedia Market</span>
                  <span>Интернет-магазин полезных вещей</span>
              </div>
          </a>
        <p>Юр. адрес: 220123, г. Минск, ул. Старовиленская 100–4а<br>
        Свидетельство о гос. регистрации номер: 0191397<br>(выдано Минским горисполкомом 14.10.2022)</p>
      </div>
      <div class="footer-info">
          <div class="footer-menu">
            <h4>Каталог</h4>
            <a href="#">Смартфоны</a>
            <a href="#">Планшеты</a>
            <a href="#">Ноутбуки</a>
            <a href="#">Наушники и аудиотехника</a>
            <a href="#">Телевизоры и видеотехника</a>
            <a href="#">Бытовая техника</a>
          </div>
          <div class="footer-menu">
            <h4>Информация</h4>
            <a href="#">О компании</a>
            <a href="#">Услуги</a>
            <a href="#">Доставка</a>
            <a href="#">Оплата</a>
            <a href="#">Контакты</a>
          </div>
          <div class="footer-contacts">
            <h4>Связаться с нами</h4>
            <p><a href="tel:+375291112233" class="phone-link">+375 (29) 111-22-33</a></p>
            <p><a href="tel:+375331112233" class="phone-link">+375 (33) 111-22-33</a></p>
            <p><a href="mailto:info@qmedia.by" class="email-link">info@qmedia.by</a></p>
          </div>
      </div>
    </div>
  </footer>
  