<header>
    <div class="header-container">
        <div class="header-top">
          <nav class="menu">
            <ul>
              <li><a href="[[~1]]">О компании</a></li>
              <li><a href="[[~2]]">Услуги</a></li>
              <li><a href="[[~3]]">Доставка</a></li>
              <li><a href="[[~4]]">Оплата</a></li>
              <li><a href="[[~5]]">Контакты</a></li>
            </ul>
          </nav>
      <div class="contacts">
        <span>+375 (29) 111-22-33</span>
        <span>+375 (33) 111-22-33</span>
      </div>
      </div>
      <div class="header-bottom">
          <div class="burger-btn"></div>
          <a href="/" class="logo">
              <div class="icon"></div>
              <div class="text">
                  <span>Qmedia Market</span>
                  <span>Интернет-магазин полезных вещей</span>
              </div>
          </a>
          <div class="search-bar">
              <input type="text" class="search-input" placeholder="Поиск по каталогу..." />
              <button class="search-button"></button>
          </div>
      </div>
    </div>
  </header>
  